@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFolder</title>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/tareaGeneral")
    @Styles.Render("~/Content/general")
    @Styles.Render("~/Content/Carpetas") 
    @Styles.Render("~/Content/Login") 
    @Styles.Render("~/Content/Home") 
    @Styles.Render("~/Content/HomeLogueado")
    @Styles.Render("~/Content/Tareas")
    @Scripts.Render("~/bundles/touchspin")
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/unobtrusive")


 
</head>
<body>

    @Html.Partial("Partial_navBar")


        @RenderBody()


</body>
</html>