@model TPFinalProgWebIII.Models.View.Login

<div>
    <p>
        <h2>Tienes una cuenta?</h2>
      
    </p>
</div>
<div class="centrado">
    <div class="fondo_formu">
        <div class="recuadre">

       

            @using (@Html.BeginForm("Procesar-Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.LabelFor(model => model.Email)<br />
                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Ej: email@hotmail.com", @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })<br />

                @Html.LabelFor(model => model.Contrasenia)<br />
                @Html.PasswordFor(model => model.Contrasenia, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })<br />

                <text> Recordarme: </text>
                @Html.CheckBoxFor(model => model.Recordarme)
               
              
                <br />

                <br />
                <div class="text-center">
                    <input type="submit" value="Iniciar sesi&oacute;n" class="btn btn-primary" />
                </div>

                if (ViewData["MensajeOK"] != null)
                {
                    <br />
                    <div class="alert alert-danger centermsg" role="alert">
                        @ViewData["MensajeOK"]
                    </div>

                }

                if (ViewBag.msg != null)
                {
                    <br />
                    <div class="alert alert-info centermsg" role="alert">
                        @ViewBag.msg
                    </div>
                  
                }
            }
        </div>
    </div>
</div>