@model TPFinalProgWebIII.Models.View.Registro
@using BotDetect.Web.Mvc;
@{ MvcCaptcha Captcha = new MvcCaptcha("Captcha"); }


<div>
    <p>
        <h2> No tienes una cuenta? 
            crea una aquí </h2>
        <!-- Redirige a pagina de inicio.-->
    </p>
</div>

<!---Redirige a p&aacute;gina de inicio.-->

<div class="centradoGeneral">
    <div class="fondoRecuadroRegistrar">
        <div class="formuRegistro">
            @using (@Html.BeginForm("Procesar-Registro", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.LabelFor(model => model.Nombre)<br />
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })<br />

                @Html.LabelFor(model => model.Apellido)<br />
                @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })<br />

                @Html.LabelFor(model => model.Email)<br />
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })<br />

                @Html.LabelFor(model => model.Contrasenia)<br />
                @Html.PasswordFor(model => model.Contrasenia, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })<br />

                @Html.LabelFor(model => model.ConfirmarContrasenia)<br />
                @Html.PasswordFor(model => model.ConfirmarContrasenia, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.ConfirmarContrasenia, "", new { @class = "text-danger" })<br /><br />

                @Html.Captcha(Captcha)<br /><br />
                <text>Ingrese el captcha</text><br />
                @Html.TextBox("CaptchaCode")<br />
                @Html.ValidationMessage("CaptchaCode", "", new { @class = "text-danger" })<br /><br />

                <div class="btn-login-registro">
                <input type="submit" value="Registrarse" class="btn btn-primary" /><br/>
                </div>
                @ViewData["MensajeOK"]
            }

        </div>
    </div>   
 </div>