@using TPFinalProgWebIII.Models.Enum
<h2>Tareas - Detalle</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Nombre: @ViewBag.tarea.Nombre</h3>
    </div>
    <div class="panel-body">
        Descripcion: @ViewBag.tarea.Descripcion<br />
        Horas estimadas: @ViewBag.tarea.EstimadoHoras<br />
        Fecha creaci&oacute;n: @ViewBag.tarea.FechaCreacion <br />
        Fecha fin: @ViewBag.tarea.FechaFin <br />
        Prioridad:  @((TipoPrioridad)@ViewBag.tarea.Prioridad) <br />
        Completada: @if (Convert.ToBoolean(ViewBag.tarea.Completada))
        {
        <span class="glyphicon glyphicon-ok"></span>
}
else
{
    <span class="glyphicon glyphicon-remove"></span>
}
        <br />
    </div>
</div>

<h4>Agregar comentario</h4>

<div class="panel panel-default">
    @using (@Html.BeginForm("AgregarComentario", "Tareas", FormMethod.Post))
    {
        <textarea name="Texto" required></textarea><br />
        <input type="hidden" name="IdTarea" value="@ViewBag.tarea.IdTarea" /><br />
        <input type="submit" value="Env&iacute;ar" />
    }
</div>

<h4>Comentarios</h4>

<div class="panel panel-default">
    @{
        //No me salió poner el Reverse() sobre el ViewBag. Por eso hago esta línea extra
        HashSet<ComentarioTarea> listaDeComentarios = ViewBag.tarea.ComentarioTarea;
        foreach (ComentarioTarea x in listaDeComentarios.Reverse())
        {
            <div class="panel-body">
                @x.FechaCreacion - @x.Texto
            </div>
        }
    }
</div>

<h4>Agregar archivo</h4>

<div class="panel panel-default">
    @using (@Html.BeginForm("AgregarArchivo", "Tareas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="IdTarea" value="@ViewBag.tarea.IdTarea"/><br/>
        <input type="file" name="ArchivoSubido" multiple required/><br />
        <input type="submit" value="Env&iacute;ar" />
    }
</div>

<h4>Archivos adjuntos</h4>

<div class="panel panel-default">
    @{
        //No me salió poner el Reverse() sobre el ViewBag. Por eso hago esta línea extra
        HashSet<ArchivoTarea> listaDeArchivos = ViewBag.tarea.ArchivoTarea;
        foreach (ArchivoTarea x in listaDeArchivos.Reverse())
        {
            <div class="panel-body">
                @x.FechaCreacion -> <a href="@x.RutaArchivo">Link</a>
            </div>
        }
    }
</div>
