@using TPFinalProgWebIII.Models.Enum
<h2>Mis Tareas</h2>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descrip.</th>
            <th>Horas estim.</th>
            <th>Fecha creaci&oacute;n</th>
            <th>Fecha fin</th>
            <th>Prioridad</th>
            <th>Completada <input checked="checked" type="checkbox" id="filtro" /></th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tarea x in ViewBag.tareas)
        {
            <tr>
                <td>@x.IdTarea</td>
                <td>@x.Nombre</td>
                <td>@x.Descripcion</td>
                <td>@x.EstimadoHoras</td>
                <td>@x.FechaCreacion</td>
                <td>@x.FechaFin</td>
                <td>
                    @((TipoPrioridad)@x.Prioridad)
               </td>
                    @if(Convert.ToBoolean(@x.Completada))
                    {
                        
                        <td class="completada"><span class="glyphicon glyphicon-ok"></span> </td>
                    }else{
                       
                        <td class="nocompletada"></td>
                    }
                        
                <td><a href="/tareas/detalle/@x.IdTarea"><span class=" glyphicon glyphicon-search"></span></a>
                @if (!Convert.ToBoolean(@x.Completada))
                {
                   <a href="/tareas/completar/@x.IdTarea"><span class="glyphicon glyphicon-ok"></span></a>
                }
            </td>
            
        </tr>
    }
    </tbody>

</table>

<script>
    $('#filtro').change(function () {

        if ($('#filtro').is(":checked")) {

            $('.nocompletada').closest('tr').hide();
            $('.completada').closest('tr').show();


        } else {

            $('.nocompletada').closest('tr').show();
            $('.completada').closest('tr').hide();
        }
    });
</script>
